{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
  <a href="{% url 'admin:app_list' app_label='inventory' %}">Inventory</a>
  <a href="/_admin_/inventory/location/">Locations</a>

  {% trans 'Mass-Add locations' %} {{ original|truncatewords:"18" }}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save">
    </form>
</div>
{% endblock %}