django
django-crispy-forms
crispy-bootstrap5
django-bootstrap5
django-extra-views
django-computedfields
paho-mqtt
Pillow
typing_extensions
psycopg2
whitenoise
gunicorn
mozilla-django-oidc
pymaybe
django-ipware
django-bootstrap-icons
