{% extends 'inventory/bootstrap.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    {% block pre_container %}{% endblock %}
    <div class="container">
        <h1>{% block title %}(no title){% endblock %}</h1>

        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">home</a></li>
            <li class="nav-item">
                {% if user.is_authenticated %}
                {% trans 'Current user:' %} {{ user.email }}
                <form action="{% url 'oidc_logout' %}" method="post">
                  {% csrf_token %}
                  <input type="submit" value="{% trans 'logout' %}">
                </form>
              {% else %}
                <a class="nav-link" href="{% url 'oidc_authentication_init' %}?next={{ request.get_full_path }}">{% trans 'Login via ZAM SSO' %}</a>
              {% endif %}
            </li>
        </ul>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        {% block content %}(no content){% endblock %}
    </div>
{% endblock %}
