{% extends 'inventory/base.html' %}

{% load django_bootstrap5 %}

{% block title %}
    Item
{% endblock %}

{% block content %}

<form method="post" class="form-row" enctype="multipart/form-data">
    {% csrf_token %}

    {% load crispy_forms_tags %}
    {% crispy form %}

    {% for formset in inlines %}
    <legend>{{ formset.helper.form_title }}</legend>
    {% crispy formset %}
    {% endfor %}

    <input type="submit" name="save" value="Save" class="btn btn-primary mb-3">
    <input type="submit" name="save_and_mark" value="Save and mark location finished" class="btn btn-primary mb-3">
</form>

{% endblock %}
