{% extends 'base.html' %}

{% load django_bootstrap5 i18n %}
{% load mytemplatetags %}
{% load thumbnail %}

{% block title %}
    {% trans "Item List" %}
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col'>
        <form method="get">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">🔎</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="q" value="{{ request.GET.q }}">
        </div>
        </form>
    </div>
    {% if incomplete_count %}
        <div class='col-3'>
            <a href="{% url "annotate_item" incomplete_first_pk %}">Help annotate incomplete item descriptions ({{ incomplete_count }})</a>
        </div>
    {% endif %}
</div>
<table class="table table-striped">
    <thead><tr>
        <th scope="col">{% trans "Name" %}</td>
        <th scope="col">{% trans "Category" %}</td>
        <th scope="col">{% trans "Photos" %}</td>
        <th scope="col">{% trans "Locations" %}</td>
    </tr></thead>
    <tbody>
    {% for object in page_obj %}
        <tr>
        <th scope="row">
            <a href="{{ object.get_absolute_url }}">
            {{ object }}
            </a>
        </td>
        <td>
            {% if object.category %}
            <a href="{{ object.category.get_absolute_url }}">
            {{ object.category }}
            {% endif %}
            </a>
        </td>
        <td>
            {% for image in object.itemimage_set.all %}
                {% thumbnail image.image "200x200" as im %}
                    {% spaceless %}
                        <a href="{{ image.image.url }}">
                            <img src="{{ im.url }}" class="img-thumbnail img-fluid" style="max-width: 100px;" alt="{{ image.description }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{{ image.description }}">
                        </a>
                    {% endspaceless %}
                {% endthumbnail %}
            {% endfor %}
        </td>
        <td>
            {% for itemloc in object.itemlocation_set.all %}
                <a href="{{ itemloc.location.get_absolute_url }}">
                {{ itemloc }}
                </a><br>
            {% endfor %}
        </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
            <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% url_replace request 'page' page_obj.next_page_number %}">next</a>
            <a href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block bootstrap5_extra_script %}
<script type="text/javascript">
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
{% endblock %}