{% extends 'base.html' %}

{% load django_bootstrap5 i18n %}
{% load mytemplatetags %}
{% load thumbnail %}
{% load static %}

{% block title %}
    {% trans "Item List" %}
{% endblock %}

{% block content %}
<div class='row'>
    <div class='col'>
        <form method="get">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">🔎</span>
            <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="q" value="{{ request.GET.q }}">
        </div>
        </form>
    </div>
    {% if incomplete_count and perms.inventory.change_item %}
        <div class='col-3'>
            <a href="{% url "annotate_item" incomplete_first_pk %}">Help annotate incomplete item descriptions ({{ incomplete_count }})</a>
        </div>
    {% endif %}
</div>
{% if perms.inventory.add_item %}
<div class="row mb-3">
    <div class="col">
        <a href="{% url 'create_item' %}" class="btn btn-primary">
            {% trans "Create New Item" %}
        </a>
    </div>
</div>
{% endif %}
<table class="table table-striped" data-lightbox-gallery-label="{% trans 'Photos' %}" data-lightbox-close-label="{% trans 'Close photo' %}" data-lightbox-previous-label="{% trans 'Previous photo' %}" data-lightbox-next-label="{% trans 'Next photo' %}" data-lightbox-error-message="{% trans 'Image could not be loaded.' %}" data-lightbox-retry-label="{% trans 'Try again' %}" data-lightbox-loading-label="{% trans 'Loading photo…' %}">
    <thead><tr>
        <th scope="col">{% trans "Name" %}</td>
        <th scope="col">{% trans "Category" %}</td>
        <th scope="col">{% trans "Photos" %}</td>
        <th scope="col">{% trans "Locations" %}</td>
    </tr></thead>
    <tbody>
    {% for object in page_obj %}
        <tr>
        <th scope="row">
            <a href="{{ object.get_absolute_url }}">
            {{ object }}
            </a>
        </td>
        <td>
            {% if object.category %}
            <a href="{{ object.category.get_absolute_url }}">
            {{ object.category }}
            {% endif %}
            </a>
        </td>
        <td>
            {% for image in object.itemimage_set.all %}
                {% thumbnail image.image "200x200" as im %}
                    {% spaceless %}
                        <a class="img-link" href="{{ image.image.url }}">
                            <img src="{{ im.url }}" class="img-thumbnail img-fluid" style="max-width: 100px;" alt="{{ image.description }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-original-title="{{ image.description }}">
                        </a>
                    {% endspaceless %}
                {% endthumbnail %}
            {% endfor %}
        </td>
        <td>
            {% for itemloc in object.itemlocation_set.all %}
                <a href="{{ itemloc.location.get_absolute_url }}">
                {{ itemloc }}
                </a><br>
            {% endfor %}
        </a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% url_replace request 'page' 1 %}">&laquo; first</a>
            <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% url_replace request 'page' page_obj.next_page_number %}">next</a>
            <a href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block bootstrap5_extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'inventory/photo_lightbox.css' %}">
{% endblock %}

{% block bootstrap5_extra_script %}
{{ block.super }}
<script src="{% static 'inventory/photo_lightbox.js' %}"></script>
<script type="text/javascript">
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})

// Arrows browse the photos of one item.
var lightboxData = document.querySelector('table[data-lightbox-gallery-label]').dataset;
var lightboxLabels = {
  gallery: lightboxData.lightboxGalleryLabel, close: lightboxData.lightboxCloseLabel,
  previous: lightboxData.lightboxPreviousLabel, next: lightboxData.lightboxNextLabel,
  error: lightboxData.lightboxErrorMessage, retry: lightboxData.lightboxRetryLabel,
  loading: lightboxData.lightboxLoadingLabel,
};
document.querySelectorAll('tbody tr').forEach(function (row) {
  setupPhotoLightbox(row.querySelectorAll('a.img-link'), {className: 'item-list-lightbox', labels: lightboxLabels});
});
</script>
{% endblock %}