{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}

{% block title %}
    {{ title }}
    {% if location %}
        @ {{ location.unique_identifier }}
    {% endif %}
{% endblock %}

{% block pre_container %}
<param id="placeholder_path" value="{% static 'inventory/placeholder.svg' %}" />
<div class="modal fade" id="barcode_modal" tabindex="-1" aria-labelledby="barcodeModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 674px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="barcodeModalLabel">scan a barcode</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="quagga_display"></div>
                <div id="result_strip">
                    <ul id="result_strip_thumbnails" class="thumbnails"></ul>
                    <ul class="collector"></ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="barcode_use_selected">use selected</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="camera_modal" tabindex="-1" aria-labelledby="cameraModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cameraModalLabel">Take a photo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <video id="camera_video" width="100%" autoplay muted playsinline hidden></video>
                <canvas id="camera_present_canvas" width="100%"></canvas>
                <canvas id="camera_capture_canvas" hidden></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="camera_click_photo">Take photo</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<form method="post" class="form-row" enctype="multipart/form-data">
    {% csrf_token %}

    {% load crispy_forms_tags %}
    {% crispy form %}

    <div class="mb-3">
    <legend>{{ inlines.0.helper.form_title }}</legend>
    {% crispy inlines.0 %}
    <button id="add_image_button" type="button" class="btn btn-primary">{% trans 'Add additional image' %}</button>
    </div>

    <div class="mb-3">
    <legend>{{ inlines.1.helper.form_title }}</legend>
    {% crispy inlines.1 %}
    </div>

    <input type="submit" name="save" value="{% trans 'Save' %}" class="btn btn-primary mb-3">
    {% if request.GET and request.GET.location_id %}
    <input type="submit" name="save_and_mark" value="{% translate "Save and mark location finished" %}" class="btn btn-primary mb-3">
    {% endif %}
</form>
{% endblock %}

{% block bootstrap5_extra_script %}
<script type="text/javascript" src="{% static 'inventory/camera.js' %}"></script>
<script type="text/javascript" src="{% static 'inventory/autocomplete.js' %}"></script>
<script type="text/javascript" src="{% static 'inventory/autocomplete_custom.js' %}"></script>
<script type="text/javascript" src="{% static 'inventory/add_image_input.js' %}"></script>
<script type="text/javascript" src="{% static 'inventory/quagga.min.js' %}"></script>
<script type="text/javascript" src="{% static 'inventory/barcodescanner.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'inventory/barcodescanner.css' %}" />
<script type="text/javascript" src="{% static 'inventory/show_measurement_unit_after_amount.js' %}"></script>
<style type="text/css">
    .itemimage_set_item div.mb-3,
    .item-location-group div.mb-3{
        margin-bottom: 0.5rem !important;
    }
    .btn{
        white-space: normal;
    }
</style>
{% endblock %}
