
{% extends 'base.html' %}

{% load django_bootstrap5 i18n %}

{% block title %}
    {% trans "Item List" %}
{% endblock %}

{% block content %}
<form method="get">
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">🔎</span>
    <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" name="q" value="{{ request.GET.q }}">
</div>
</form>
<table class="table table-striped">
    <thead><tr>
        <th scope="col">{% trans "Identifier" %}</td>
        <th scope="col">{% trans "Name" %}</td>
        <th scope="col">{% trans "Items" %}</td>
        <th scope="col">{% trans "Status (inventory marked complete)" %}</td>
    </tr></thead>
    <tbody>
    {% for object in page_obj %}
        <tr>
        <th scope="row">
            <a href="{{ object.get_absolute_url }}" data-bs-toggle="tooltip" title="" data-bs-original-title="{{ object.descriptive_identifier }}">
                {{ object.unique_identifier }}
            </a>
        </td>
        <td>
            <a href="{{ object.get_absolute_url }}" data-bs-toggle="tooltip" title="" data-bs-original-title="{{ object.descriptive_identifier }}">
                {{ object.name }}
            </a>
        </td>
        <td>
            {{ object.itemlocation_set.count }}
        </td>
        <td>
            {% if object.last_complete_inventory %}
            ✅ {{ object.last_complete_inventory }}
            {% endif %}
       </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}

{% block bootstrap5_extra_script %}
<script type="text/javascript">
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
  return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
{% endblock %}