{% extends 'bootstrap.html' %}

{% load i18n %}
{% load django_bootstrap5 %}

{% block bootstrap5_content %}
    {% block pre_container %}{% endblock %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">ZAM inventory</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="{% url 'index_items' %}">{% trans 'Items' %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'index_locations' %}">{% trans 'Locations' %}</a></li>

          {% if user.is_staff %}
          <li class="nav-item"><a class="nav-link" href="{% block admin_url %}{% url 'admin:index' %}{% endblock %}">Admin</a></li>
          {% endif %}
          </ul>
        </div>
        <div class="navbar-nav">
          <span class="navbar-text me-2">
            {% if user.is_authenticated %}
            {{ user.username }}
            {% endif %}
            {% if request.session.is_zam_local %}
            (ZAM)
            {% endif %}
          </span>
          {% if user.is_authenticated %}
          <form action="{% url 'oidc_logout' %}" method="post" class="d-flex">
            {% csrf_token %}
            <button class="btn btn-sm btn-outline-warning" type="submit">{% trans 'Logout' %}</button>
          </form>
          {% else %}
          <a class="btn btn-sm btn-outline-warning" href="{% url 'oidc_authentication_init' %}?next={{ request.get_full_path }}">{% trans 'Login' %}</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="container mt-3">
      <h1>{% block title %}(no title){% endblock %}</h1>
      {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
      {% block content %}(no content){% endblock %}
    </div>

{% endblock %}
